### Notes :
- Predict energy imbalance to reduce costs
- Energy imbalance: The energy expected to be used doesn't line up with the actual energy used or produced
- Prosumers: they consume and generate energy
- Prosumers contribute a large part of the energy imbalance (they represent a small part of all the consumers)
- Prosumers unpredictable energy use causes logistical and financial problems for the energy companies

- Use data block id as index ??

# Import csv data and quick analysis

- for all data county feature = ID code of that country 
- the mapping of all the countries is in the json file
- product_type : 0: Combined, 1: Fixed, 2: General service, 3: Spot
- data_block_id - All rows sharing the same data_block_id will be available at the same forecast time. This is a function of what information is available when forecasts are actually made, at 11 AM each morning. For example, if the forecast weather data_block_id for predictins made on October 31st is 100 then the historic weather data_block_id for October 31st will be 101 as the historic weather data is only actually available the next day.
- weather data are the biggest in size

In [1]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt

In [2]:
# Load all datasets

client_df = pd.read_csv("client.csv")
electricity_price_df = pd.read_csv("electricity_prices.csv")
weather_forecast_df = pd.read_csv("forecast_weather.csv")
weather_history_df = pd.read_csv("historical_weather.csv")
gas_price_df = pd.read_csv("gas_prices.csv")
train_df = pd.read_csv("train.csv")

In [3]:
def data_cleaning():
    pass

In [4]:
weather_history_df

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id
0,2021-09-01 00:00:00,14.2,11.6,0.0,0.0,1015.9,31,31,0,11,7.083333,8,0.0,0.0,0.0,57.6,21.7,1.0
1,2021-09-01 00:00:00,13.9,11.5,0.0,0.0,1010.7,33,37,0,0,5.111111,359,0.0,0.0,0.0,57.6,22.2,1.0
2,2021-09-01 00:00:00,14.0,12.5,0.0,0.0,1015.0,31,34,0,0,6.333333,355,0.0,0.0,0.0,57.6,22.7,1.0
3,2021-09-01 00:00:00,14.6,11.5,0.0,0.0,1017.3,0,0,0,0,8.083333,297,358.0,277.0,81.0,57.6,23.2,1.0
4,2021-09-01 00:00:00,15.7,12.9,0.0,0.0,1014.0,22,25,0,0,8.416667,5,0.0,0.0,0.0,57.6,23.7,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710797,2023-05-30 10:00:00,11.7,4.6,0.0,0.0,1018.9,40,9,54,0,1.055556,253,567.0,392.0,175.0,59.7,26.2,637.0
1710798,2023-05-30 10:00:00,12.3,3.5,0.0,0.0,1019.0,46,4,70,0,0.805556,263,581.0,407.0,174.0,59.7,26.7,637.0
1710799,2023-05-30 10:00:00,9.8,3.0,0.0,0.0,1019.2,41,4,62,0,1.972222,285,609.0,432.0,177.0,59.7,27.2,637.0
1710800,2023-05-30 10:00:00,11.7,1.6,0.0,0.0,1019.0,44,0,73,0,3.500000,307,658.0,521.0,137.0,59.7,27.7,637.0
1710801,2023-05-30 10:00:00,12.0,1.4,0.0,0.0,1016.1,38,0,63,0,3.250000,304,672.0,550.0,122.0,59.7,28.2,637.0

In [5]:
weather_forecast_df

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
0,57.6,21.7,2021-08-31 23:00:00+00:00,1,15.655786,11.553613,0.904816,0.019714,0.000000,0.905899,-0.411328,-9.106137,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
1,57.6,22.2,2021-08-31 23:00:00+00:00,1,13.003931,10.689844,0.886322,0.004456,0.000000,0.886658,0.206347,-5.355405,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
2,57.6,22.7,2021-08-31 23:00:00+00:00,1,14.206567,11.671777,0.729034,0.005615,0.000000,0.730499,1.451587,-7.417905,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
3,57.6,23.2,2021-08-31 23:00:00+00:00,1,14.844507,12.264917,0.336304,0.074341,0.000626,0.385468,1.090869,-9.163999,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
4,57.6,23.7,2021-08-31 23:00:00+00:00,1,15.293848,12.458887,0.102875,0.088074,0.000015,0.176590,1.268481,-8.975766,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424507,59.7,26.2,2023-05-29 23:00:00+00:00,48,10.150049,5.662744,0.061066,0.257339,0.004059,0.308594,6.890626,-3.258144,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0
3424508,59.7,26.7,2023-05-29 23:00:00+00:00,48,10.259790,5.922754,0.107880,0.895203,0.198700,0.906036,6.890626,-3.768032,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0
3424509,59.7,27.2,2023-05-29 23:00:00+00:00,48,10.467798,6.072534,0.000000,0.387466,0.448853,0.530518,6.214112,-4.700405,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0
3424510,59.7,27.7,2023-05-29 23:00:00+00:00,48,10.694116,7.009058,0.000000,0.505936,0.997314,0.997498,5.810060,-4.338345,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0
3424511,59.7,28.2,2023-05-29 23:00:00+00:00,48,11.233179,7.069238,0.703461,0.292313,0.934021,0.989716,2.719728,-0.922939,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0

In [6]:
# Create mergedate column = datetime without hour:minute:second to merge data based on the date

train_df["datetime"] = pd.to_datetime(train_df["datetime"])
client_df["mergedate"] = pd.to_datetime(client_df["date"]).dt.date
train_df["mergedate"] = train_df["datetime"].dt.date

In [7]:
# Check dates where we have nulls

train_df[train_df.isna().any(axis=1)]

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,mergedate
178938,0,0,1,NaN,0,2021-10-31 03:00:00,60,178938,0,2021-10-31
178939,0,0,1,NaN,1,2021-10-31 03:00:00,60,178939,0,2021-10-31
178940,0,0,2,NaN,0,2021-10-31 03:00:00,60,178940,1,2021-10-31
178941,0,0,2,NaN,1,2021-10-31 03:00:00,60,178941,1,2021-10-31
178942,0,0,3,NaN,0,2021-10-31 03:00:00,60,178942,2,2021-10-31
...,...,...,...,...,...,...,...,...,...,...
1806379,15,1,0,NaN,1,2023-03-26 03:00:00,571,1806379,64,2023-03-26
1806380,15,1,1,NaN,0,2023-03-26 03:00:00,571,1806380,59,2023-03-26
1806381,15,1,1,NaN,1,2023-03-26 03:00:00,571,1806381,59,2023-03-26
1806382,15,1,3,NaN,0,2023-03-26 03:00:00,571,1806382,60,2023-03-26
1806383,15,1,3,NaN,1,2023-03-26 03:00:00,571,1806383,60,2023-03-26

In [8]:
# Drop unnecessary columns and nulls

train_df.dropna(inplace=True)
train_df.drop(["row_id", "prediction_unit_id"], axis=1, inplace=True)
client_df.drop(["date", "data_block_id", "eic_count"], axis=1, inplace=True)

In [9]:
# Merge train and client dataframes
train_df_merged = train_df.merge(
    client_df, on=["mergedate", "county", "is_business", "product_type"], how="left"
)

In [10]:
for now in train_df_merged[train_df_merged.isna().any(axis=1)].index:
    row_to_fill = {
        "county": train_df_merged.iloc[now]["county"],
        "is_business": train_df_merged.iloc[now]["is_business"],
        "product_type": train_df_merged.iloc[now]["product_type"],
    }
    day_before_df = train_df_merged[
        train_df_merged["datetime"]
        == train_df_merged.iloc[now]["datetime"] - pd.Timedelta(days=1)
    ]
    train_df_merged.loc[now, "installed_capacity"] = day_before_df[
        (day_before_df["county"] == row_to_fill["county"])
        & (day_before_df["is_business"] == row_to_fill["is_business"])
        & (day_before_df["product_type"] == row_to_fill["product_type"])
    ]["installed_capacity"].iloc[0]

In [11]:
# Rename and format forecast_date so we can merge on it

electricity_price_df.rename(columns={"forecast_date": "datetime"}, inplace=True)
electricity_price_df["datetime"] = pd.to_datetime(electricity_price_df["datetime"])

In [12]:
# Drop unnecessary columns and nulls

electricity_price_df.drop(["origin_date", "data_block_id"], axis=1, inplace=True)

In [13]:
# Merge train and electricity dataframes

train_df_merged = train_df_merged.merge(electricity_price_df, on="datetime", how="left")

In [14]:
# Fill new dates where we don't have the electricity price yet with the day's before prices

for now in train_df_merged[train_df_merged.isna().any(axis=1)].index:
    day_before_df = train_df_merged[
        train_df_merged["datetime"]
        == train_df_merged.iloc[now]["datetime"] - pd.Timedelta(days=1)
    ]
    train_df_merged.loc[now, "euros_per_mwh"] = day_before_df["euros_per_mwh"].iloc[0]

In [15]:
train_df_merged.drop("mergedate", axis=1, inplace=True)

In [ ]:
# profile = ProfileReport(train_df_merged)

In [ ]:
# profile.to_file("train_df_merged.html")

Intuition for merging weather history data : 
- First we take each longitude and latitude and map it into the country it's from
- Next we take each hour and calculate the mean of it in each country
- Merge the weather_history with the train_data on country and date_time

In [16]:
weather_history_df

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id
0,2021-09-01 00:00:00,14.2,11.6,0.0,0.0,1015.9,31,31,0,11,7.083333,8,0.0,0.0,0.0,57.6,21.7,1.0
1,2021-09-01 00:00:00,13.9,11.5,0.0,0.0,1010.7,33,37,0,0,5.111111,359,0.0,0.0,0.0,57.6,22.2,1.0
2,2021-09-01 00:00:00,14.0,12.5,0.0,0.0,1015.0,31,34,0,0,6.333333,355,0.0,0.0,0.0,57.6,22.7,1.0
3,2021-09-01 00:00:00,14.6,11.5,0.0,0.0,1017.3,0,0,0,0,8.083333,297,358.0,277.0,81.0,57.6,23.2,1.0
4,2021-09-01 00:00:00,15.7,12.9,0.0,0.0,1014.0,22,25,0,0,8.416667,5,0.0,0.0,0.0,57.6,23.7,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710797,2023-05-30 10:00:00,11.7,4.6,0.0,0.0,1018.9,40,9,54,0,1.055556,253,567.0,392.0,175.0,59.7,26.2,637.0
1710798,2023-05-30 10:00:00,12.3,3.5,0.0,0.0,1019.0,46,4,70,0,0.805556,263,581.0,407.0,174.0,59.7,26.7,637.0
1710799,2023-05-30 10:00:00,9.8,3.0,0.0,0.0,1019.2,41,4,62,0,1.972222,285,609.0,432.0,177.0,59.7,27.2,637.0
1710800,2023-05-30 10:00:00,11.7,1.6,0.0,0.0,1019.0,44,0,73,0,3.500000,307,658.0,521.0,137.0,59.7,27.7,637.0
1710801,2023-05-30 10:00:00,12.0,1.4,0.0,0.0,1016.1,38,0,63,0,3.250000,304,672.0,550.0,122.0,59.7,28.2,637.0

In [17]:
# Import the weather to country mapping

weather_station = pd.read_csv("weather_station_to_county_mapping.csv")

In [18]:
# Drop unnecesarry columns

weather_station.drop("county_name", axis=1, inplace=True)

In [19]:
# Fill nulls with ffill because the data is ordered from low to high, use after that backfill in order to fill the first values

weather_station.fillna(method="ffill", inplace=True)
weather_station.fillna(method="backfill", inplace=True)

In [20]:
# Change country's type

weather_station["county"] = (weather_station["county"]).astype(int)

In [21]:
# Add country column in weather_history using the map in weather_station

for row in weather_station.index:
    weather_history_df.loc[
        weather_history_df[
            np.isclose(
                weather_history_df["longitude"], weather_station.iloc[row]["longitude"]
            )
            & np.isclose(
                weather_history_df["latitude"], weather_station.iloc[row]["latitude"]
            )
        ].index,
        "county",
    ] = weather_station.iloc[row]["county"]

In [22]:
# Drop longitude and latitude because we calculate weather condition based on country

weather_history_df.drop(["latitude", "longitude"], inplace=True, axis=1)

In [23]:
# Drop unnecesarry and highly correlated columns

weather_history_df.drop(
    [
        "dewpoint",
        "snowfall",
        "cloudcover_total",
        "diffuse_radiation",
        "shortwave_radiation",
        "data_block_id",
        "surface_pressure",
    ],
    inplace=True,
    axis=1,
)

In [24]:
# Calculate the mean of the temperature, cloud_coverage... etc for each hour and country

weather_history_average_df = weather_history_df.groupby(["datetime", "county"]).mean()

In [25]:
# Reset indexes and convert into date to merge on it

weather_history_average_df.reset_index(inplace=True)
weather_history_average_df["datetime"] = pd.to_datetime(
    weather_history_average_df["datetime"]
)

In [26]:
weather_history_df

,datetime,temperature,rain,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,direct_solar_radiation,county
0,2021-09-01 00:00:00,14.2,0.0,31,0,11,7.083333,8,0.0,10.0
1,2021-09-01 00:00:00,13.9,0.0,37,0,0,5.111111,359,0.0,10.0
2,2021-09-01 00:00:00,14.0,0.0,34,0,0,6.333333,355,0.0,10.0
3,2021-09-01 00:00:00,14.6,0.0,0,0,0,8.083333,297,277.0,1.0
4,2021-09-01 00:00:00,15.7,0.0,25,0,0,8.416667,5,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...
1710797,2023-05-30 10:00:00,11.7,0.0,9,54,0,1.055556,253,392.0,5.0
1710798,2023-05-30 10:00:00,12.3,0.0,4,70,0,0.805556,263,407.0,5.0
1710799,2023-05-30 10:00:00,9.8,0.0,4,62,0,1.972222,285,432.0,2.0
1710800,2023-05-30 10:00:00,11.7,0.0,0,73,0,3.500000,307,521.0,2.0
1710801,2023-05-30 10:00:00,12.0,0.0,0,63,0,3.250000,304,550.0,2.0

In [27]:
weather_forecast_df

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
0,57.6,21.7,2021-08-31 23:00:00+00:00,1,15.655786,11.553613,0.904816,0.019714,0.000000,0.905899,-0.411328,-9.106137,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
1,57.6,22.2,2021-08-31 23:00:00+00:00,1,13.003931,10.689844,0.886322,0.004456,0.000000,0.886658,0.206347,-5.355405,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
2,57.6,22.7,2021-08-31 23:00:00+00:00,1,14.206567,11.671777,0.729034,0.005615,0.000000,0.730499,1.451587,-7.417905,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
3,57.6,23.2,2021-08-31 23:00:00+00:00,1,14.844507,12.264917,0.336304,0.074341,0.000626,0.385468,1.090869,-9.163999,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
4,57.6,23.7,2021-08-31 23:00:00+00:00,1,15.293848,12.458887,0.102875,0.088074,0.000015,0.176590,1.268481,-8.975766,1,2021-09-01 00:00:00+00:00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424507,59.7,26.2,2023-05-29 23:00:00+00:00,48,10.150049,5.662744,0.061066,0.257339,0.004059,0.308594,6.890626,-3.258144,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0
3424508,59.7,26.7,2023-05-29 23:00:00+00:00,48,10.259790,5.922754,0.107880,0.895203,0.198700,0.906036,6.890626,-3.768032,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0
3424509,59.7,27.2,2023-05-29 23:00:00+00:00,48,10.467798,6.072534,0.000000,0.387466,0.448853,0.530518,6.214112,-4.700405,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0
3424510,59.7,27.7,2023-05-29 23:00:00+00:00,48,10.694116,7.009058,0.000000,0.505936,0.997314,0.997498,5.810060,-4.338345,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0
3424511,59.7,28.2,2023-05-29 23:00:00+00:00,48,11.233179,7.069238,0.703461,0.292313,0.934021,0.989716,2.719728,-0.922939,637,2023-05-31 23:00:00+00:00,0.0,0.0,0.0,0.0

In [28]:
str(weather_history_average_df["datetime"].iloc[-1])[:10]

'2023-05-30'

In [29]:
weather_history_average_df["datetime"].iloc[-1] + pd.Timedelta(1, unit="h")

Timestamp('2023-05-30 11:00:00')

In [30]:
weather_forecast_df[
    weather_forecast_df["forecast_datetime"]
    > str(weather_history_average_df["datetime"].iloc[-1] + pd.Timedelta(1, unit="h"))
]

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
3417680,57.6,21.7,2023-05-28 23:00:00+00:00,36,10.626367,6.249658,0.000000,0.000000,0.000000,0.000000,1.262239,-6.472150,636,2023-05-30 11:00:00+00:00,897.097778,809.244444,0.0,1.192093e-07
3417681,57.6,22.2,2023-05-28 23:00:00+00:00,36,13.383203,4.373438,0.000000,0.000000,0.000000,0.000000,2.951203,-5.003888,636,2023-05-30 11:00:00+00:00,896.671111,807.822222,0.0,-1.192093e-07
3417682,57.6,22.7,2023-05-28 23:00:00+00:00,36,12.843408,4.939111,0.000000,0.000000,0.000000,0.000000,3.264436,-5.903790,636,2023-05-30 11:00:00+00:00,893.826667,802.133333,0.0,-1.192093e-07
3417683,57.6,23.2,2023-05-28 23:00:00+00:00,36,12.474512,5.375879,0.000000,0.000000,0.000000,0.000000,4.419709,-6.110822,636,2023-05-30 11:00:00+00:00,889.560000,800.568889,0.0,0.000000e+00
3417684,57.6,23.7,2023-05-28 23:00:00+00:00,36,12.471338,6.888574,0.000000,0.011322,0.000000,0.011322,4.958772,-5.533917,636,2023-05-30 11:00:00+00:00,888.706667,798.862222,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424507,59.7,26.2,2023-05-29 23:00:00+00:00,48,10.150049,5.662744,0.061066,0.257339,0.004059,0.308594,6.890626,-3.258144,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.000000e+00
3424508,59.7,26.7,2023-05-29 23:00:00+00:00,48,10.259790,5.922754,0.107880,0.895203,0.198700,0.906036,6.890626,-3.768032,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.000000e+00
3424509,59.7,27.2,2023-05-29 23:00:00+00:00,48,10.467798,6.072534,0.000000,0.387466,0.448853,0.530518,6.214112,-4.700405,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.000000e+00
3424510,59.7,27.7,2023-05-29 23:00:00+00:00,48,10.694116,7.009058,0.000000,0.505936,0.997314,0.997498,5.810060,-4.338345,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.000000e+00
3424511,59.7,28.2,2023-05-29 23:00:00+00:00,48,11.233179,7.069238,0.703461,0.292313,0.934021,0.989716,2.719728,-0.922939,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.000000e+00

In [31]:
# Since all weather conditions were known before 2023-05-30 10:00:00 we will use weather forecast to fill remaining rows

weather_forecast_df = weather_forecast_df[
    (
        # Select the first origin_datetime after the last known weather conditions
        weather_forecast_df["origin_datetime"]
        == next(
            x
            for x in weather_forecast_df["origin_datetime"][::-1]
            if x < str(weather_history_average_df["datetime"].iloc[-1])[:10]
        )
    )
    & (
        # Select the only forecast dates that we need
        weather_forecast_df["forecast_datetime"]
        < str(train_df_merged["datetime"].iloc[-1] + pd.Timedelta(1, unit="h"))[:10]
    )
    & (
        # Select the forecast dates that comes after the last nown weather conditions
        weather_forecast_df["forecast_datetime"]
        > str(
            weather_history_average_df["datetime"].iloc[-1] + pd.Timedelta(1, unit="h")
        )
    )
]

In [32]:
weather_forecast_df

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
3420368,57.6,21.7,2023-05-29 23:00:00+00:00,12,10.111719,5.728174,0.000000,0.000000,0.000000,0.000000,2.061437,-7.537222,637,2023-05-30 11:00:00+00:00,899.005000,810.970000,0.0,0.0
3420369,57.6,22.2,2023-05-29 23:00:00+00:00,12,13.037256,4.019678,0.000000,0.000000,0.000000,0.000000,3.121496,-5.864126,637,2023-05-30 11:00:00+00:00,894.453889,807.592222,0.0,0.0
3420370,57.6,22.7,2023-05-29 23:00:00+00:00,12,12.599023,4.643457,0.000000,0.000000,0.000000,0.000000,3.453527,-6.886099,637,2023-05-30 11:00:00+00:00,911.947222,813.601111,0.0,0.0
3420371,57.6,23.2,2023-05-29 23:00:00+00:00,12,12.555566,5.760889,0.000000,0.000000,0.000000,0.000000,4.396887,-7.334585,637,2023-05-30 11:00:00+00:00,889.049444,800.907778,0.0,0.0
3420372,57.6,23.7,2023-05-29 23:00:00+00:00,12,12.484033,7.298730,0.000000,0.011734,0.002747,0.014465,2.884435,-6.475943,637,2023-05-30 11:00:00+00:00,859.893889,785.832222,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424507,59.7,26.2,2023-05-29 23:00:00+00:00,48,10.150049,5.662744,0.061066,0.257339,0.004059,0.308594,6.890626,-3.258144,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.0
3424508,59.7,26.7,2023-05-29 23:00:00+00:00,48,10.259790,5.922754,0.107880,0.895203,0.198700,0.906036,6.890626,-3.768032,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.0
3424509,59.7,27.2,2023-05-29 23:00:00+00:00,48,10.467798,6.072534,0.000000,0.387466,0.448853,0.530518,6.214112,-4.700405,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.0
3424510,59.7,27.7,2023-05-29 23:00:00+00:00,48,10.694116,7.009058,0.000000,0.505936,0.997314,0.997498,5.810060,-4.338345,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.0
3424511,59.7,28.2,2023-05-29 23:00:00+00:00,48,11.233179,7.069238,0.703461,0.292313,0.934021,0.989716,2.719728,-0.922939,637,2023-05-31 23:00:00+00:00,0.000000,0.000000,0.0,0.0

In [33]:
# Calculate wind speed and direction

weather_forecast_df["winddirection_10m"] = 180 + (180 / np.pi) * np.arctan2(
    weather_forecast_df["10_metre_u_wind_component"],
    weather_forecast_df["10_metre_v_wind_component"],
)
weather_forecast_df["windspeed_10m"] = np.sqrt(
    np.power(weather_forecast_df["10_metre_v_wind_component"], 2)
    + np.power(weather_forecast_df["10_metre_u_wind_component"], 2)
)
weather_forecast_df["total_precipitation"] = (
    weather_forecast_df["total_precipitation"] * 1000
)

/tmp/ipykernel_635/4294931833.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_forecast_df["winddirection_10m"] = 180 + (180 / np.pi) * np.arctan2(
/tmp/ipykernel_635/4294931833.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_forecast_df["windspeed_10m"] = np.sqrt(
/tmp/ipykernel_635/4294931833.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_forecast_df["total_precipitation"] = (

In [34]:
# Rename some column's name to merge on them afterwards

weather_forecast_df.rename(
    columns={"forecast_datetime": "datetime", "total_precipitation": "rain"},
    inplace=True,
)

/tmp/ipykernel_635/2903158335.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_forecast_df.rename(

In [35]:
weather_forecast_df.head()

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,rain,winddirection_10m,windspeed_10m
3420368,57.6,21.7,2023-05-29 23:00:00+00:00,12,10.111719,5.728174,0.0,0.000000,0.000000,0.000000,2.061437,-7.537222,637,2023-05-30 11:00:00+00:00,899.005000,810.970000,0.0,0.0,344.703630,7.814041
3420369,57.6,22.2,2023-05-29 23:00:00+00:00,12,13.037256,4.019678,0.0,0.000000,0.000000,0.000000,3.121496,-5.864126,637,2023-05-30 11:00:00+00:00,894.453889,807.592222,0.0,0.0,331.973463,6.643170
3420370,57.6,22.7,2023-05-29 23:00:00+00:00,12,12.599023,4.643457,0.0,0.000000,0.000000,0.000000,3.453527,-6.886099,637,2023-05-30 11:00:00+00:00,911.947222,813.601111,0.0,0.0,333.365247,7.703584
3420371,57.6,23.2,2023-05-29 23:00:00+00:00,12,12.555566,5.760889,0.0,0.000000,0.000000,0.000000,4.396887,-7.334585,637,2023-05-30 11:00:00+00:00,889.049444,800.907778,0.0,0.0,329.058446,8.551535
3420372,57.6,23.7,2023-05-29 23:00:00+00:00,12,12.484033,7.298730,0.0,0.011734,0.002747,0.014465,2.884435,-6.475943,637,2023-05-30 11:00:00+00:00,859.893889,785.832222,0.0,0.0,335.991435,7.089274

In [36]:
# Drop unnecesarry and highly correlated columns

weather_forecast_df.drop(
    [
        "10_metre_u_wind_component",
        "10_metre_v_wind_component",
        "cloudcover_total",
        "dewpoint",
        "snowfall",
        "surface_solar_radiation_downwards",
        "data_block_id",
        "origin_datetime",
        "hours_ahead",
    ],
    axis=1,
    inplace=True,
)

/tmp/ipykernel_635/3644595109.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_forecast_df.drop(

In [37]:
# Add country column in weather_forecast using the map in weather_station

for row in weather_station.index:
    weather_forecast_df.loc[
        weather_forecast_df[
            np.isclose(
                weather_forecast_df["longitude"], weather_station.iloc[row]["longitude"]
            )
            & np.isclose(
                weather_forecast_df["latitude"], weather_station.iloc[row]["latitude"]
            )
        ].index,
        "county",
    ] = weather_station.iloc[row]["county"]

/tmp/ipykernel_635/3023797723.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_forecast_df.loc[

In [38]:
# Drop longitude and latitude because we calculate weather condition based on country

weather_forecast_df.drop(["latitude", "longitude"], inplace=True, axis=1)

/tmp/ipykernel_635/235343691.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_forecast_df.drop(["latitude", "longitude"], inplace=True, axis=1)

In [39]:
# Calculate the mean of the temperature, cloud_coverage... etc for each forecasted hour and country

weather_forecast_average_df = weather_forecast_df.groupby(["datetime", "county"]).mean()

In [40]:
weather_forecast_average_df

                                  temperature  cloudcover_high  \
datetime                  county
2023-05-30 11:00:00+00:00 0.0       13.769678         0.000000
                          1.0       11.105057         0.000000
                          2.0       13.021810         0.000068
                          3.0       14.865462         0.000000
                          4.0       13.214990         0.000000
...                                       ...              ...
2023-05-31 23:00:00+00:00 10.0      10.549812         0.249666
                          11.0       9.683228         0.422723
                          13.0       8.815088         0.723846
                          14.0       8.382593         0.294749
                          15.0       9.930643         0.713715

                                  cloudcover_low  cloudcover_mid  \
datetime                  county
2023-05-30 11:00:00+00:00 0.0           0.062601        0.106571
                          1.0           0.004935        0.004817
                          2.0           0.218394        0.405971
                          3.0           0.059560        0.185028
                          4.0           0.150935        0.513021
...                                          ...             ...
2023-05-31 23:00:00+00:00 10.0          0.005330        0.002459
                          11.0          0.003177        0.000000
                          13.0          0.000000        0.000000
                          14.0          0.000000        0.000000
                          15.0          0.008888        0.000000

                                  direct_solar_radiation      rain  \
datetime                  county
2023-05-30 11:00:00+00:00 0.0                 779.521601  0.032320
                          1.0                 893.559921  0.000000
                          2.0                 593.957296  0.141565
                          3.0                 609.156111  0.058850
                          4.0                 336.610926  0.518282
...                                                  ...       ...
2023-05-31 23:00:00+00:00 10.0                  0.000000  0.000000
                          11.0                  0.000000  0.000000
                          13.0                  0.000000  0.000000
                          14.0                  0.000000  0.000000
                          15.0                  0.000000  0.000000

                                  winddirection_10m  windspeed_10m
datetime                  county
2023-05-30 11:00:00+00:00 0.0            306.053831       4.755172
                          1.0            319.381267       8.103263
                          2.0            303.411859       2.650162
                          3.0            345.103234       4.651023
                          4.0            329.808846       3.199994
...                                             ...            ...
2023-05-31 23:00:00+00:00 10.0           293.953475       6.134145
                          11.0           288.427568       5.102046
                          13.0           297.628188       4.229317
                          14.0           297.768159       4.395995
                          15.0           284.055115       4.685071

[555 rows x 8 columns]

In [41]:
# Reset indexes and convert into date to merge on it

weather_forecast_average_df.reset_index(inplace=True)
weather_forecast_average_df["datetime"] = pd.to_datetime(
    weather_forecast_average_df["datetime"]
).dt.tz_localize(None)

In [42]:
# Concat weather_history and weather_forecast dataframes

weather_df = pd.concat([weather_forecast_average_df, weather_history_average_df])

In [43]:
weather_df.sort_values(by=["datetime", "county"], inplace=True)

In [44]:
weather_df

,datetime,county,temperature,cloudcover_high,cloudcover_low,cloudcover_mid,direct_solar_radiation,rain,winddirection_10m,windspeed_10m
0,2021-09-01 00:00:00,0.0,13.182353,20.764706,43.352941,2.294118,0.000000,0.000000,345.411765,4.828431
1,2021-09-01 00:00:00,1.0,14.471429,16.142857,8.428571,0.000000,39.571429,0.000000,342.285714,7.738095
2,2021-09-01 00:00:00,2.0,12.993333,46.733333,59.533333,18.800000,0.000000,0.093333,307.000000,3.470370
3,2021-09-01 00:00:00,3.0,11.533333,0.000000,90.666667,5.333333,0.000000,0.000000,314.333333,2.379630
4,2021-09-01 00:00:00,4.0,11.666667,4.333333,37.333333,0.666667,0.000000,0.000000,332.666667,3.129630
...,...,...,...,...,...,...,...,...,...,...
550,2023-05-31 23:00:00,10.0,10.549812,0.249666,0.005330,0.002459,0.000000,0.000000,293.953475,6.134145
551,2023-05-31 23:00:00,11.0,9.683228,0.422723,0.003177,0.000000,0.000000,0.000000,288.427568,5.102046
552,2023-05-31 23:00:00,13.0,8.815088,0.723846,0.000000,0.000000,0.000000,0.000000,297.628188,4.229317
553,2023-05-31 23:00:00,14.0,8.382593,0.294749,0.000000,0.000000,0.000000,0.000000,297.768159,4.395995
554,2023-05-31 23:00:00,15.0,9.930643,0.713715,0.008888,0.000000,0.000000,0.000000,284.055115,4.685071

In [45]:
# Merge train and weather_history dataframes

train_df_merged = train_df_merged.merge(
    weather_df, on=["datetime", "county"], how="left"
)

In [46]:
# Drop country 12 because we have no information about it and it represents only 1.5% of the data

train_df_merged.drop(
    train_df_merged[train_df_merged["county"] == 12].index, inplace=True
)

In [47]:
train_df_merged[train_df_merged.isna().any(axis=1)]

Empty DataFrame
Columns: [county, is_business, product_type, target, is_consumption, datetime, data_block_id, installed_capacity, euros_per_mwh, temperature, cloudcover_high, cloudcover_low, cloudcover_mid, direct_solar_radiation, rain, winddirection_10m, windspeed_10m]
Index: []

In [48]:
gas_price_df

,forecast_date,lowest_price_per_mwh,highest_price_per_mwh,origin_date,data_block_id
0,2021-09-01,45.23,46.32,2021-08-31,1
1,2021-09-02,45.62,46.29,2021-09-01,2
2,2021-09-03,45.85,46.40,2021-09-02,3
3,2021-09-04,46.30,46.80,2021-09-03,4
4,2021-09-05,46.30,46.58,2021-09-04,5
...,...,...,...,...,...
632,2023-05-26,29.10,34.10,2023-05-25,633
633,2023-05-27,28.30,34.10,2023-05-26,634
634,2023-05-28,28.10,34.10,2023-05-27,635
635,2023-05-29,28.16,36.98,2023-05-28,636
636,2023-05-30,29.00,34.00,2023-05-29,637

In [49]:
gas_price_df["price_per_mwh"] = gas_price_df.loc[
    :, ["highest_price_per_mwh", "lowest_price_per_mwh"]
].mean(axis=1)

In [50]:
# Drop unnecesarry and highly correlated columns

gas_price_df.drop(
    ["lowest_price_per_mwh", "highest_price_per_mwh", "origin_date", "data_block_id"],
    axis=1,
    inplace=True,
)

In [51]:
# Rename date column name and convert into date to merge on it

gas_price_df.rename(
    columns={"forecast_date": "datetime"},
    inplace=True,
)

gas_price_df["datetime"] = pd.to_datetime(gas_price_df["datetime"])

In [52]:
# Merge train and gas_price dataframes

train_df_merged = train_df_merged.merge(gas_price_df, on=["datetime"], how="left")

In [53]:
train_df_merged.fillna(method="ffill", inplace=True)

In [54]:
train_df_merged.drop("data_block_id",axis=1,inplace=True)

In [55]:
train_df_merged

,county,is_business,product_type,target,is_consumption,datetime,installed_capacity,euros_per_mwh,temperature,cloudcover_high,cloudcover_low,cloudcover_mid,direct_solar_radiation,rain,winddirection_10m,windspeed_10m,price_per_mwh
0,0,0,1,0.713,0,2021-09-01 00:00:00,952.89,92.51,13.182353,20.764706,43.352941,2.294118,0.0,0.0,345.411765,4.828431,45.775
1,0,0,1,96.590,1,2021-09-01 00:00:00,952.89,92.51,13.182353,20.764706,43.352941,2.294118,0.0,0.0,345.411765,4.828431,45.775
2,0,0,2,0.000,0,2021-09-01 00:00:00,166.40,92.51,13.182353,20.764706,43.352941,2.294118,0.0,0.0,345.411765,4.828431,45.775
3,0,0,2,17.314,1,2021-09-01 00:00:00,166.40,92.51,13.182353,20.764706,43.352941,2.294118,0.0,0.0,345.411765,4.828431,45.775
4,0,0,3,2.904,0,2021-09-01 00:00:00,7207.88,92.51,13.182353,20.764706,43.352941,2.294118,0.0,0.0,345.411765,4.828431,45.775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987203,15,1,0,197.233,1,2023-05-31 23:00:00,620.00,-1.29,9.930643,0.713715,0.008888,0.000000,0.0,0.0,284.055115,4.685071,31.500
1987204,15,1,1,0.000,0,2023-05-31 23:00:00,624.50,-1.29,9.930643,0.713715,0.008888,0.000000,0.0,0.0,284.055115,4.685071,31.500
1987205,15,1,1,28.404,1,2023-05-31 23:00:00,624.50,-1.29,9.930643,0.713715,0.008888,0.000000,0.0,0.0,284.055115,4.685071,31.500
1987206,15,1,3,0.000,0,2023-05-31 23:00:00,2188.20,-1.29,9.930643,0.713715,0.008888,0.000000,0.0,0.0,284.055115,4.685071,31.500
1987207,15,1,3,196.240,1,2023-05-31 23:00:00,2188.20,-1.29,9.930643,0.713715,0.008888,0.000000,0.0,0.0,284.055115,4.685071,31.500

In [56]:
# SAVE DATASET

train_df_merged.to_csv("train_final.csv")

In [ ]:
# LOAD DATASET

train_df_merged = pd.read_csv("train_final.csv")

# Model training

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.utils import shuffle
from matplotlib import pyplot as plt
import seaborn as sns

In [58]:
# Create feature columns and target column

train_df_merged = shuffle(train_df_merged, random_state=1547)
X = train_df_merged.drop(["target", "datetime"], axis=1)
y = train_df_merged["target"]

In [60]:
# Create train test split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=1547
)

# Setup ML Pipelines

In [61]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import SGDRegressor

In [62]:
model = SGDRegressor(random_state=1547)

In [ ]:
def divide_batches(X, y, batch_size):
    batch_list = []

    while len(X != 0):
        batch = []
        batch_y = []

        batch = X[:batch_size]
        X = X[batch_size:]

        batch_y = y[:batch_size]
        y = y[batch_size:]

        batch_list.append([batch, batch_y])

    return batch_list

In [ ]:
batches = divide_batches(X=X_train, y=y_train, batch_size=10000)

In [63]:
X

,county,is_business,product_type,is_consumption,installed_capacity,euros_per_mwh,temperature,cloudcover_high,cloudcover_low,cloudcover_mid,direct_solar_radiation,rain,winddirection_10m,windspeed_10m,price_per_mwh
1437227,11,1,0,1,395.00,388.38,-4.400000,100.000000,99.800000,100.000000,0.000000,0.0000,307.600000,5.611111,137.505
477319,5,0,3,1,1164.50,100.02,-1.166667,5.000000,47.500000,4.500000,0.000000,0.0000,139.833333,4.685185,81.620
1620970,0,0,3,0,14082.93,82.69,-5.123529,0.000000,77.529412,39.588235,0.000000,0.0000,165.941176,4.498366,63.695
287637,14,0,3,1,1552.56,650.06,-16.500000,0.000000,56.666667,8.333333,15.333333,0.0000,240.666667,2.657407,88.020
376528,9,0,3,0,1133.72,136.88,-2.400000,0.000000,97.333333,0.000000,0.000000,0.0000,127.000000,4.685185,100.370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313602,4,0,1,0,92.20,150.81,3.166667,5.333333,100.000000,31.666667,0.000000,0.2000,271.666667,5.740741,87.005
1677856,0,1,1,0,2535.40,110.99,-6.952941,16.411765,93.000000,23.117647,0.000000,0.0000,45.352941,2.259804,55.500
962450,15,1,0,0,570.00,427.18,20.050000,96.500000,37.000000,34.375000,313.000000,0.0875,71.375000,2.541667,164.500
342193,13,1,3,1,1026.40,95.17,-5.200000,0.000000,6.000000,31.000000,0.000000,0.0000,265.000000,4.611111,103.120
948911,13,0,1,1,192.20,164.41,13.000000,18.000000,65.000000,12.000000,0.000000,0.0000,191.000000,2.027778,162.505

In [ ]:
def model_fit(model, batches_list, number_of_batches):
    for i in range(number_of_batches):
        model.partial_fit(batches_list[i][0], batches_list[i][1])
    return model

In [ ]:
trained_model = model_fit(model=model, batches_list=batches, number_of_batches=10)

In [64]:
model.fit(X_train, y_train)

SGDRegressor(random_state=1547)

In [ ]:
import pickle

In [ ]:
pickle.dump(model, open("model.pk1", "wb"))

In [ ]:
from sklearn.metrics import mean_absolute_error

# Evaluate the performance of the model

yhat = model.predict(X_test)
mae = mean_absolute_error(y_test, yhat)
print(f"MAE : {mae}")

# API

In [ ]:
import public_timeseries_testing_util as enefit

env = enefit.make_env()
iter_test = env.iter_test()

In [ ]:
counter = 0
for (
    test,
    revealed_targets,
    client,
    historical_weather,
    forecast_weather,
    electricity_prices,
    gas_prices,
    sample_prediction,
) in iter_test:
    if counter == 0:
        print(test.head(3))
        print(revealed_targets.head(3))
        print(client.head(3))
        print(historical_weather.head(3))
        print(forecast_weather.head(3))
        print(electricity_prices.head(3))
        print(gas_prices.head(3))
        print(sample_prediction.head(3))
    sample_prediction["target"] = 0
    env.predict(sample_prediction)
    counter += 1